            .btn {
                width: 100px;
                height: 100px;
                font-size: 50px;
                color: lightcyan;
                background: lightcyan;
            }
            .txt {
                font-size: 100px;
                text-align: center;
            }